@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=IM+Fell+English+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');body {
  margin: 0;
  padding: 0;
  background-image: url('/images/web/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(82, 38, 38, 0.829);
  background-blend-mode: multiply;
  font-family: 'IM Fell English SC';
  font-size:large;
}

h1, h2, h3, nav, .title {
  font-family: 'Cinzel decorative', serif;
}

input, textarea, select {
  font-family: Arial, Helvetica, sans-serif;
}