.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.edit-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-section-inner {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
}

.edit-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
    font-weight: bold;
}

.edit-subtitle {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.edit-section-inner form {
    width: 100%;
    font-size: 1.25rem; 
}

.edit-section-inner form label {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

.edit-section-inner form input,
.edit-section-inner form select,
.edit-section-inner form textarea {
    width: 100%;
    padding: 0.9rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 8px;
}

.edit-section-inner form button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: black;
}

.edit-section-inner form > * {
    margin-bottom: 1.5rem !important;
}

.edit-section-inner form > *:last-child {
    margin-bottom: 0 !important;
}
