.index-container {
    display: flex;
    justify-content: center;
}

.index-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.no-fichas-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.index-link {
    color: #000;
    text-decoration: underline;
}

.index-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
}

.index-title {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

.new-sheet-btn {
    position: absolute;
    right: 0;
    padding: 0.6rem 1.2rem;
    background: #000;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}

.new-sheet-btn:hover {
    background-color: rgb(90, 0, 0);
    transform: scale(1.1);
}

.fichas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}