.form-container {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    position: relative;
}

.form-container h2 {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 35px;
}