.home-section {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    position: relative;
}

.home-block-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.home-block-centered h2 {
    font-size: 3rem;
}
