/* Contenedor general de la página de login */
.login-page {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    width: 100%;
    box-sizing: border-box;
}

/* Contenedor flex con imágenes a los lados */
.login-flex-wrapper {
    display: flex;
    align-items: center;
    /* centra verticalmente */
    justify-content: center;
    /* centra horizontalmente */
    gap: 4rem;
    /* espacio entre imágenes y formulario */
}

.login-side-image {
    width: 250px;
    border-radius: 3%;
    box-shadow: 15px 20px 16px rgba(0, 0, 0, 0.589);
    /* derecha 10px, abajo 20px */
}



/* Formulario centrado */
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    margin-top: 1.4em;
}

/* Formulario interno */
.login-wrapper form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: x-large;
}

/* Inputs centrados */
.login-email,
.login-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Checkbox centrado horizontalmente */
.login-remember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
}

.login-forgot {
    transition: transform 0.2s ease, color 0.2s ease;
}

.login-forgot:hover {
    color: rgb(90, 0, 0);
    transform: scale(1.1);
}

/* Botón + forgot password centrados */
.login-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
}

/* Mensaje de estado centrado */
.login-status {
    text-align: center;
    margin-bottom: 1rem;
}

/* Título del login */
.login-tip {
    margin: 1.5rem 0;
    text-align: center;
    font-family: "Cinzel decorative", serif;
    font-weight: bold;
    font-size: xx-large;
}

/* Botón principal */
.login-button {
    background-color: #222;
    font-size: medium;
    transition: transform 0.2s ease, color 0.2s ease;

}

.login-button:hover {
    background-color: rgb(90, 0, 0);
    font-size: medium;
    transform: scale(1.1);

}

/* Registro / enlace */
.login-register {
    margin-top: 2rem;
    font-size: x-large;
    text-decoration: underline;
    transition: transform 0.2s ease, color 0.2s ease;
}

.login-register:hover {
    color: rgb(90, 0, 0);
    transform: scale(1.1);
}


.login-wrapper input[type="email"],
.login-wrapper input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}