.ficha-form-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.ficha-form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 2rem;
}

.form-label{
    font-size: 1.8rem;
        font-weight: bold;

}

.error-msg {
    color: red;
    font-size: 0.85rem;
}

.empty-msg {
    font-size: 1.4rem;
    color: #353535;
}

.list-languages {
    padding-left: 20px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 150px;
    row-gap: 30px;
}

.submit-btn {
    margin-top: 80px;
    background-color: black;
    font-size: 1rem;
    justify-content: center;
    padding: 1.4rem;
    transition: 0.5s;
}

.submit-btn:hover {
    background-color: rgb(90, 0, 0);
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sword-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.sword {
    width: auto;
    height: 40px;
    object-fit: contain;
    margin-top: 1rem;
}

.selector-msg{
    margin-bottom: 10px;
}

.alignment-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.alignment-item {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}

.alignment-item.selected {
    font-weight: bold;
}
