.ficha-card {
    width: 100%;
    max-width: 320px;
    min-height: 420px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #444;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.ficha-card h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-transform: uppercase;
}

.ficha-card p {
    margin: 0.2rem 0;
}

.ficha-card-actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.ficha-card-actions a,
.ficha-card-actions button {
    background: black;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 0.96rem;
    text-align: center;
    flex: 1;
    transition: 0.2s ease;
}

.ficha-card-actions button:hover,
.ficha-card-actions a:hover {
    
    background-color: rgb(90, 0, 0);
    transform: scale(1.1);
}
