.fondo-seamless {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3em 4em 4em;
  box-sizing: border-box;
  z-index: 1;
}

.fondo-seamless::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('/images/web/fondoSeamless.png') center/cover no-repeat;
  opacity: 0.7;
  z-index: -1;
  box-shadow: 0 0 60px 40px rgb(0, 0, 0) inset;
}
