.grid-select {
    position: relative;
    width: 100%;
}

.grid-select-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.grid-select-trigger {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);   
    border: 1px solid rgb(7, 7, 7);
    cursor: pointer;
    text-align: left;
    font-size: 1.4rem;
}

.grid-select-menu {
    margin-top: 8px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);   
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    z-index: 20;
}

.grid-select-item {
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    cursor: pointer;    
    background: rgba(155, 49, 7, 0.15);
    backdrop-filter: blur(8px);   
    transition: 0.15s;
    font-size: 1.5rem;
}

.grid-select-item:hover {
    background: rgb(90, 0, 0);
    color: #d4d4d4;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.486),
        0 8px 8px rgba(0, 0, 0, 0.63) inset;
}

.grid-select-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px;
}
