.grid-select {
    position: relative;
    width: 100%;
}

.grid-select-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.grid-select-trigger {
    width: 100%;
    padding: 10px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
}

.grid-select-menu {
    margin-top: 8px;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    z-index: 20;
}

.grid-select-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background: #fafafa;
    transition: 0.2s;
}

.grid-select-item:hover {
    background: #e5e5e5;
}

.grid-select-item img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px;
}
