* {
  box-sizing: border-box;
}

/* Contenedor principal */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 3rem;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.897) 100%),
    url('/images/web/fondoHeader.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'IM Fell English SC', serif;
  color: white;
  z-index: 0;
}

/* ===== ZONA IZDA (controles) ===== */
.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cambio-idioma img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 12px 30px 4px rgba(0, 0, 0, 0.774);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cambio-idioma img:hover {
  transform: scale(1.05);
  box-shadow: 0 16px 40px 6px rgba(0, 0, 0, 0.8);
}


/* ===== BLOQUE CENTRO (absolutely centered) =====*/
.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 0;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  z-index: 10;
}

.header-center .header-logo-link {
  display: inline-block;
}

.header-logo {
  width: 190px !important;
  height: auto;
  display: block;
  margin-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.5s ease !important;
}

.header-logo:hover{
  transform: scale(1.05);
}

.header-link--center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
  transition: transform 0.3s ease, box-shadow 0.5s ease !important;
}

.header-link--center:hover {
  transform: scale(1.05);
  box-shadow: 0 16px 40px 6px rgba(0, 0, 0, 0.8);
}

.header-link.active {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.705) 100%);
}


.header-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  gap: 0.35rem;
  color: #fff;
  font-weight: 600;
  transition: background-color 0.18s ease;
}

.header-icon-link:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.header-icon {
  width: 65px;
  object-fit: contain;
}


/* ===== ZONA DERECHA (auth) ===== */
.header-right {
  display: flex;
  gap: 0.75rem;
  margin-top: 30px;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-link {
  text-decoration: none;
  color: #ffffff;
  padding: 0.1rem 0.6rem;
  transition: background-color 0.18s ease;
  font-weight: 600;
  border: none;
}

