.home-row {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;
    align-items: center;
}

.home-row.reverse {
    grid-template-columns: 300px 1fr;
}

.home-block {
    display: flex;
    flex-direction: column;
}

.home-block h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home-block p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

.home-image {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 20px 16px rgba(0, 0, 0, 0.486),
        0 4px 8px rgba(0, 0, 0, 0.63) inset;
}