.selector {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.selector label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  transition: background 0.2s;
    border: 1px solid rgb(0, 0, 0);
}

.selector label:hover {
    background: rgba(90, 0, 0, 0.212);
}

.selector input[type="checkbox"] {
  cursor: pointer;
}
